flows.json
[{"id":"7e7cc250.78237c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"61b655fc.ca3fdc","type":"ui_form","z":"7e7cc250.78237c","name":"","label":"","group":"fe26bcf9.aa98f","order":2,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"KM driven","value":"km","type":"number","required":true,"rows":null},{"label":"Fuel Type","value":"fuel","type":"text","required":true,"rows":null},{"label":"Transmission","value":"transmission","type":"text","required":true,"rows":null},{"label":"Owner","value":"owner","type":"text","required":true,"rows":null},{"label":"Seller Type","value":"seller","type":"text","required":true,"rows":null}],"formValue":{"name":"","year":"","km":"","fuel":"","transmission":"","owner":"","seller":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":false,"x":110,"y":280,"wires":[["47a311b7.c47ff","d62a8be0.a98ed8","618851b4.cb857"]]},{"id":"47a311b7.c47ff","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":220,"wires":[]},{"id":"d62a8be0.a98ed8","type":"function","z":"7e7cc250.78237c","name":"pre-token","func":"global.set(\"a\",msg.payload.year)\nglobal.set(\"b\",msg.payload.km)\nglobal.set(\"c\",msg.payload.fuel)\nglobal.set(\"d\",msg.payload.transmission)\nglobal.set(\"e\",msg.payload.owner)\nglobal.set(\"f\",msg.payload.seller)\nglobal.set(\"g\",msg.payload.name)\nvar apikey=\"0SzrAySg7INcSZQhgx4Ls6zpf-vW2K7mv4Y43f3tFoGw\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":280,"wires":[["27bce76d.42aea8"]]},{"id":"27bce76d.42aea8","type":"http request","z":"7e7cc250.78237c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":360,"wires":[["c301f265.6cca6","676b1308.457dac"]]},{"id":"c301f265.6cca6","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"676b1308.457dac","type":"function","z":"7e7cc250.78237c","name":"Pre Prediction","func":"var a  = global.get(\"a\")\nvar b = global.get(\"b\")\nvar c = global.get(\"c\")\nvar d = global.get(\"d\")\nvar e = global.get(\"e\")\nvar f = global.get(\"f\")\nvar g = global.get(\"g\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\n\t\t\t\t\"name\",\n\t\t\t\t\"year\",\n\t\t\t\t\"km_driven\",\n\t\t\t\t\"fuel\",\n\t\t\t\t\"seller_type\",\n\t\t\t\t\"transmission\",\n\t\t\t\t\"owner\"\n\t\t\t]],\n\t\t\t\"values\": [\n\t\t\t\t[\n\t\t\t\t\tg,\n\t\t\t\t\ta,\n\t\t\t\t\tb,\n\t\t\t\t\tc,\n\t\t\t\t\tf,\n\t\t\t\t\td,\n\t\t\t\t\te\n\t\t\t\t]\n\t\t\t]\n    \n}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["d6ba50e5.cb0d"]]},{"id":"d6ba50e5.cb0d","type":"http request","z":"7e7cc250.78237c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/8f47b9ae-c861-4990-b0bd-3e06d56c2ccf/predictions?version=2021-08-20","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":540,"wires":[["20450924.07df26","bae00327.ca68b"]]},{"id":"20450924.07df26","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":360,"wires":[]},{"id":"c6a59e60.eed4","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":580,"wires":[]},{"id":"2041f593.4d0baa","type":"ui_text","z":"7e7cc250.78237c","group":"fe26bcf9.aa98f","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1010,"y":640,"wires":[]},{"id":"bae00327.ca68b","type":"function","z":"7e7cc250.78237c","name":"","func":"var p=msg.payload.predictions[0].values[0][0]\np=p*100\np=p.toFixed(1)\nmsg.payload=p\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":500,"wires":[["c6a59e60.eed4","2041f593.4d0baa"]]},{"id":"618851b4.cb857","type":"change","z":"7e7cc250.78237c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":360,"wires":[["61b655fc.ca3fdc"]]},{"id":"fe26bcf9.aa98f","type":"ui_group","name":"Default","tab":"e775413a.4f5f","order":1,"disp":true,"width":4,"collapse":false},{"id":"e775413a.4f5f","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]